<form *ngIf="form; else loading" [formGroup]="form" (ngSubmit)="submit()" class="content-container">
    <mat-form-field class="fullWidth">
        <input matInput type="text" placeholder="Title" formControlName="title" />
    </mat-form-field>

    <mat-form-field style="width: 48%;margin-right:2%">
        <input matInput type="number" placeholder="Starting chips" formControlName="startingChips" />
    </mat-form-field>

    <mat-form-field style="width: 48%; margin-left: 2%">
        <input matInput type="number" placeholder="Number of players" formControlName="numberOfPlayers" />
    </mat-form-field>

    <mat-checkbox formControlName="isInfinite">Is infinite</mat-checkbox>

    <p>Levels:
        <button mat-raised-button type="button" (click)="onAdded()">
            Add Level
        </button>
    </p>


    <table formArrayName="levels">
        <thead>
            <tr>
                <th> Index </th>
                <th> Small blind </th>
                <th> Big blind </th>
                <th> Ante </th>
                <th> Duration </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let level of levels.controls; let i = index" [formGroupName]="i">
                <td> {{i+1}} </td>
                <td>
                    <input type='text' formControlName="smallBlind">
                </td>
                <td>
                    <input type='text' formControlName="bigBlind">
                </td>
                <td>
                    <input type='text' formControlName="ante">
                </td>
                <td>
                    <input type='text' formControlName="duration">
                </td>
            </tr>
        </tbody>
        <!--<ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef > Index </th>
                <td mat-cell *matCellDef="let element; let m = i"> {{m}} </td>
            </ng-container>
        
            <ng-container matColumnDef="smallBlind">
                <th mat-header-cell *matHeaderCellDef > Small blind </th>
                <td mat-cell *matCellDef="let element"> {{element.smallBlind}} </td>
            </ng-container>
        
            <ng-container matColumnDef="bigBlind">
                <th mat-header-cell *matHeaderCellDef > Big blind </th>
                <td mat-cell *matCellDef="let element"> {{element.bigBlind}} </td>
            </ng-container>
        
            <ng-container matColumnDef="ante">
                <th mat-header-cell *matHeaderCellDef > Duration </th>
                <td mat-cell *matCellDef="let element"> {{element.ante}} </td>
            </ng-container>
        
            <ng-container matColumnDef="duration">
                <th mat-header-cell *matHeaderCellDef > Duration </th>
                <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
            </ng-container>
        
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="delete(element)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index"></tr>-->
    </table>


    <!--<mat-accordion formArrayName="levels">
        <mat-expansion-panel *ngFor="let level of levels.controls; let i=index" [formGroupName]="i">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Level {{i+1}}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field>
                <input matInput type="number" placeholder="Duration" formControlName="duration">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="number" placeholder="Small blind" formControlName="smallBlind">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="number" placeholder="Big blind" formControlName="bigBlind">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="number" placeholder="ante" formControlName="ante">
            </mat-form-field>

            <mat-action-row>
                <button mat-button color="primary" (click)="removeLevel(i)">Remove</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>-->

    <button mat-raised-button style="display: block" color="primary" type="submit" [disabled]="!form.valid">Save</button>
</form>
<ng-template #loading>
    <mat-spinner class="center-horizontal"></mat-spinner>
</ng-template>