<form *ngIf="form; else loading" [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field class="fullWidth">
        <input matInput type="text" placeholder="Title" formControlName="title" />
    </mat-form-field>

    <mat-form-field class="fullWidth">
        <input matInput type="number" placeholder="Starting chips" formControlName="startingChips" />
    </mat-form-field>

    <mat-form-field class="fullWidth">
        <input matInput type="number" placeholder="Number of players" formControlName="numberOfPlayers" />
    </mat-form-field>

    <mat-checkbox formControlName="isInfinite">Is infinite</mat-checkbox>

    <p>Levels:
        <button mat-raised-button type="button" (click)="onAdded()">
            Add Level
        </button>
    </p>
    <mat-accordion formArrayName="levels">
        <mat-expansion-panel *ngFor="let level of levels.controls; let i=index" [formGroupName]="i">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Level {{i+1}}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field>
                <input matInput type="number" placeholder="Duration" formControlName="duration">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="number" placeholder="Small blind" formControlName="smallBlind">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="number" placeholder="Big blind" formControlName="bigBlind">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="number" placeholder="ante" formControlName="ante">
            </mat-form-field>

            <mat-action-row>
                <button mat-button color="primary" (click)="removeLevel(i)">Remove</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>

    <button mat-raised-button style="display: block" color="primary" type="submit" [disabled]="!form.valid">Save</button>
</form>
<ng-template #loading>
    <mat-spinner class="center-horizontal"></mat-spinner>
</ng-template>