<div class="center-horizontal-transform" *ngIf="status !== undefined">
    <h3 class="mat-display-1">{{ tournament.title }}</h3>
    <ng-container [ngSwitch]="status.progress">
        <div *ngSwitchCase="TournamentProgress.NotStarted"> Starting at {{tournament.startDate}} </div>
        <ng-container *ngSwitchCase="TournamentProgress.Finished">
            <div> Finished </div>
        </ng-container>
        <ng-container *ngSwitchCase="TournamentProgress.OnGoing">
            <div style="position: relative;">
                <mat-progress-spinner diameter="400" style="margin: 0px auto; width: 300px;height: 300px;" mode="determinate" [value]="status.levelProgress">
                </mat-progress-spinner>
                <div class="center-transform mat-display-3 primary-color">
                    {{status.levelTimeLeft|timeSpan}}
                </div>
            </div>

            <div style="display: flex;justify-content: space-evenly;text-align: center;margin-top: 1em">
                <div>
                    <p class="mat-title">Small:</p>
                    <p class="mat-body-2">
                        {{status.level.smallBlind}}
                    </p>
                </div>
                <div class="divider"></div>
                <div>
                    <p class="mat-title">Big:
                    </p>
                    <p class="mat-body-2">
                        {{status.level.bigBlind}}
                    </p>
                </div>
                <div class="divider"></div>
                <div>
                    <p class="mat-title">Ante:
                    </p>
                    <p class="mat-body-2">
                        {{status.level.ante}}

                    </p>
                </div>
            </div>
            <mat-list>
                <mat-list-item > Pepper </mat-list-item>
                <mat-list-item class="active-level"> Salt </mat-list-item>
                <mat-list-item> Paprika </mat-list-item>
            </mat-list>
            <button *ngIf="!isPaused" mat-button color="primary" (click)="onPaused()">PAUSE</button>
            <button *ngIf="isPaused" mat-button color="primary" (click)="onResumed()">RESUME</button>
            <button mat-button color="primary" routerLink="/setups/{{tournament.setup.id}}">SETUP DETAILS</button>
        </ng-container>
    </ng-container>
</div>