<ng-container *ngIf="tournament">
    <h3>{{ tournament.title }}</h3>
    {{tournamentStatus}}
    <mat-progress-spinner mode="determinate" [value]="levelProgress">
    </mat-progress-spinner>
    <div style="position:relative; top: -60px; left: 30px;">
        {{levelTimeLeft|timeSpan}}
    </div>
    <div *ngIf="level">
        Small: {{level.smallBlind}} Big: {{level.bigBlind}}
    </div>
    <button *ngIf="!isPaused" mat-raised-button color="primary" (click)="onPaused()">Pause</button>
    <button *ngIf="isPaused" mat-raised-button color="primary" (click)="onResumed()">Resume</button>
</ng-container>