<content *ngIf="status !== undefined" class="md-padding">
    <h3>{{ tournament.title }}</h3>
    {{status.progress}}
    <mat-progress-spinner mode="determinate" [value]="status.levelProgress">
    </mat-progress-spinner>
    <div style="position:relative; top: -60px; left: 30px;">
        {{status.levelTimeLeft|timeSpan}}
    </div>
    <div *ngIf="status.level">
        Small: {{status.level.smallBlind}} Big: {{status.level.bigBlind}}
    </div>
    <button *ngIf="!isPaused" mat-raised-button color="primary" (click)="onPaused()">Pause</button>
    <button *ngIf="isPaused" mat-raised-button color="primary" (click)="onResumed()">Resume</button>
</content>