/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.fullWidth {
    width: 100%
}

.halfWidth {
    width:50%;
}

.fab-button-window {
    position: fixed !important;
    bottom: 1em;
    right: 1em;
}

.fab-button-parent {
    float: right;
}

.center-horizontal {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.upcoming-tournament {
    background-color: #7FFF00;
    margin: .2em 0em;
}

table {
    width: 100%;
}

.mat-column-actions {
    width: 1px
}

.content-container {
    margin: 1em 1.2em 0em 1.2em
}

.multi-field {
    padding: 0em 0.5em 0em 0.5em
}


.table-input:focus {
    border-color: black !important;
}

.table-input {
    border-bottom: 1px inset black !important;
}

.button-icon {
    min-width: 0.5em;
}