.nav-menu {
    display: none;
    padding-left: 1em;
}

.nav-menu-sm {
    display: flex;
}


@media only screen and (min-width:600px) {
    .nav-menu {
        display: initial;
    }
    
    .nav-menu-sm {
        display: none;
    }   
}